<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{>link}}

    <title>weather app</title>
   
    <link rel="shortcut icon" href="images/logo.png" type="image/png">
</head>

<body>
    {{>navbar}}

    {{!--
    main -header --}}

    <div class="contanier-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img class="img-fluid" src="images/404.jpg" alt="First slide" title="subham">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <h1>Oops somthing <span class="fon_col">Worng</span></h1>
                        <a href="/"><button>Back to Home</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

    {{>footer}}

</body>

</html>